/* #mainFraim {
    
} */

#mainNav {
    margin-left: 387px;
    background-color: #F7F4FF;
}

#controls {
    display: inline;
    margin-top: 0 auto;
    font-weight: 600;
    font-size: 12px;
    line-height: 1px;
    margin-left: 0;
    width: 1231px;
    height: 72px;
    margin-right: auto;
} 

#imageicons {
    width: 21px;
    height: 21px;
    top: 13px;
    left: 13px;
}

#nextMove {
    width: 119px;
    height: 19px;
    font-weight: 119px;
    font-size: 25px;
    line-height: 2px;
    margin-left: 0;
    display: inline;
}

#products {
    display: inline-block;
    margin-top: 0 auto;     
    width: 410px;
    color: #323232;
    align-items: center;
    padding-top: 0;
    padding-left: 80px;
    padding-right: 0;
    padding-bottom: 0;
    width: 600px;
    height: 22px;
    font-style: normal;
    font-size: 18px;
}
  
#about {
    width: 54px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 16px;
    display: inline;
    color: #FF5DA3;
}
  
#offer {
    display: inline;
    margin-left: 16px;
    width: 127px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
}
  
#contact {
    font-size: 24px;
    margin-left: 16px;
    display: inline;
    width: 68px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
}
  
#help {
    margin-left: 10px;
    font-size: 24px;
    display: inline;
    width: 40px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323232;
}
  
#contactUs {
    display: inline-block;
}

#button {
    color: #8E26C0;
    /* background: ; */
    border-radius: 8px;
    border: 1px solid #8E26C0;
    width: 75px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

#comunication {
    width: 500px;
    height: 300;
    top: 214px;
    left: 350px;
    margin-left: 60px;
    margin-top: 70px;
}

#instructor {   
    width: 644px;
    height: 325px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 16px;
    display: inline;
}

#what {
    display: inline;
    text-align: center;
    font-size: 31px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 500px;
    padding: 0;
    margin-left: 0;
}

#lorem {
    display: inline;

}

#unlock {
    display: inline-block;
    text-align: center;
    width: 828px;
    margin-top: 0;
}

#enjoy {
    text-align: center;
    font-family: sans-serif;
}

#opportunity {
    display: inline-block;
    text-align: center;
    width: 447px;
    margin-top: 0;
    margin-left: 220px;
}

#become {
    margin-left: 356px;
    width: 170px;
    height: 40px;
    background-color: green;
    border: 2px solid green;
    color: white;
}