#mainNav {
    display: inline-block;
    width: 1296px;
    height: 50px;
    left: 689px;
    text-align: right;
    margin: 0;
}

#controls {
    display: inline-block;
    width: 885px;
    height: 50px;
    background-color: #F7F4FF;
    margin: 0;
    margin-bottom: 142px;
}

#nextMove {
    display: inline-block;
    padding-top: 8px;
    margin: 0;
    margin-right: 155px;
}

#products {
    display: inline-block;
    color: #323;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-right: 20px;
}
  
#about {
    display: inline-block;
    color: #323;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-right: 20px;
}
  
#offer {
    display: inline-block;
    color: #323;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-right: 20px;
}
  
#contact {
    display: inline-block;
    color: #323;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-right: 20px;
    color: #8E26C0;
}
  
#help {
    display: inline-block;
    color: #323;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-right: 160px;
}
  

#button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #8E26C0;
    color: #8E26C0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    margin: 0;
    font-weight: 500;
}

#instructor {   
    display: block;
    width: 1180px;
    margin-top: 142px;
    margin-left: 96px;
}

#comunication {
    display: inline;
    width: 563px;
    height: 338px;
}

#what {
    display: inline-block;
}

#lorem {
    display: inline-block;
}
